body{
	background-image:url('../image/background.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
.loginForm{
	margin-top:140px;
}
.registerForm{
	margin-top:140px;
}
.form-style{
	max-width:330px;
	max-height:50px;
	margin:auto auto;
	padding:2px;
}